// Color variables
$orange: #FF9A26;
$blue: #007DB2;
$gray: #343b3e;


// Main styles

body, html {
  height: 100%;
}

.frame-container {


	background-color: $orange; 

	position: relative;
	height: 100%;
	width: 100%;

	overflow: hidden;
}

.app-container {
	position: absolute;

	// Debug
	background-color: rgba(111,121,222,.2);

	height: 50%;
	width: 50%;

	left: 25%;
	top: 25%;

}

.label-container {
	text-align: center;
}

.label {
	font-family: "quicksand-regular";
	font-size: 45px;  

	display: inline-block;

	color: $blue;
	cursor: pointer;

	margin-bottom: 20px;

	&.projects {
		// Debug
	}

	&.inline {
		display: inline-block;
	}

	&.about {
		margin-right: 25px;
	}
	&.github {
	}
}